In [1]:
def hello():
    print('ðŸ’›ðŸ’›ðŸ’›')
    print("Hello World")
    print('ðŸ’›ðŸ’›ðŸ’›')

In [2]:
 # call

hello()

ðŸ’›ðŸ’›ðŸ’›
Hello World
ðŸ’›ðŸ’›ðŸ’›

In [3]:
# calling multiple times
hello()
hello()

ðŸ’›ðŸ’›ðŸ’›
Hello World
ðŸ’›ðŸ’›ðŸ’›
ðŸ’›ðŸ’›ðŸ’›
Hello World
ðŸ’›ðŸ’›ðŸ’›

In [4]:
print(hello())

ðŸ’›ðŸ’›ðŸ’›
Hello World
ðŸ’›ðŸ’›ðŸ’›
None

In [5]:
print(len('hello'))

5

In [6]:
# rule 101: never take input inside a function

def multiply():
    a = int(input('Enter a number'))
    b = int(input('Enter another number'))
    return a * b

In [7]:
multiply()

1452

In [14]:
from random import choice
from string import ascii_lowercase
def random_name_generator():
    '''generates a 4 lettered random name'''
    name = ""
    name += choice(ascii_lowercase)
    name += choice("aeiou")
    name += choice(ascii_lowercase)
    name += choice(ascii_lowercase)
    name += choice("aeiou")
    return name

In [15]:
random_name_generator()

'yaeka'

In [16]:
def si(p, r, t):
    return p * r * t / 100

In [17]:
si(1000,5, 5)

250.0

In [18]:
def random_name_generator(length):
    name = ""
    for i in range(length):
        name += choice(ascii_lowercase)
    return name

In [21]:
random_name_generator(6)

'nwicce'

In [27]:
def generator_grade(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 80:
        return 'B'
    elif marks >= 70:
        return 'C'
    elif marks >= 60:
        return 'D'
    else:
        return 'F'

In [28]:
generator_grade(66)

'D'

In [29]:
# required arguments/parameters
def summer(a, b, c, d):
    return a+b+c+d

In [30]:
summer(1,2,4,5)

12

In [31]:
# named arguments/parameters
summer(a=10, b=3, c=2, d=6)

21

In [32]:
# default arguments/parameters 
# rule 102: default arguments/parameters should always be at the end
def summer(a, b=0, c=0, d=0):
    return a+b+c+d

In [34]:
print(summer(10))
print(summer(10, 20))
print(summer(10, 20, 30))
print(summer(10, 20, 30, 40))
print(summer(10, c=20, d=10))

10
30
60
100
40

In [35]:
# variable length arguments/parameters
def mean(*numbers):
    total = sum(numbers)
    size = len(numbers)
    return total/size

In [36]:
print(mean(1,4,5,7,8,4,3,2,3,4,7))
print(mean(5,6,7,8,9,4,3))
print(mean(23,56,3,32,5,12))

4.363636363636363
6.0
21.833333333333332

In [37]:
def agg(*numbers, operation='count'):
    if operation == 'count':
        return len(numbers)
    elif operation == 'sum':
        return sum(numbers)
    elif operation == 'mean':
        return sum(numbers)/len(numbers)
    elif operation == 'max':
        return sum(numbers)
    elif operation == 'min':
        return sum(numbers)
    else:
        return 'Invalid operation'

In [42]:
agg(4,6,8,3 )

4

In [47]:
agg(3,5,8,9, operation='sum')

25

In [45]:
# keyword arguments/parameters
def display(**kwargs):
    print(kwargs)

In [46]:
display(name='raju', age=15, city='Mumbai', state='maharashtra')

{'name': 'raju', 'age': 15, 'city': 'Mumbai', 'state': 'maharashtra'}