In [2]:
'Nitesh'

'Nitesh'

In [3]:
487*897

436839

In [4]:
a  = 10
b = 3

In [5]:
name = 'nitesh'

In [1]:
age = 20
is_prime = False
pi = 3.14
data = None

In [2]:
name = 'Alexander'
movies = ['Avengers', 'Harry Potter', 'Inception']
car = {
    'brand': 'Tata',
    'model': 'Nexon',
    'year': 2023,
    'is_electric': False,
}

In [3]:
10 + 20

30

In [4]:
12**3

1728

In [5]:
12//3

4

In [6]:
13//3

4

In [7]:
12%3

0

In [8]:
14%3

2

In [9]:
45/9

5.0

In [10]:
x=5

In [11]:
x+=5

In [12]:
x-=23

In [13]:
x*=89

In [14]:
x/=65

In [15]:
x//=62

In [16]:
x**=908

In [17]:
x==8

False

In [18]:
x!=98

True

In [19]:
x<89

True

In [20]:
x>98

False

In [21]:
x<=67

True

In [22]:
x>=565

False

In [25]:
'ðŸ¤£' == 'ðŸ˜Ž'

False

In [26]:
'apple' == 'dog'

False

In [27]:
name = 'Ajay'
name2 = 'vijay'

len(name) < len(name2) and name == 'Ajay'

True

In [28]:
10>5 and 5>15

False

In [29]:
10>5 and 5<15

True

In [30]:
10>5 or 10>30

True

In [31]:
12*4 > 20 and 5*3 > 10 or 10*2 < 20

True

In [32]:
movies

['Avengers', 'Harry Potter', 'Inception']

In [33]:
'pk'in movies

False

In [34]:
'Avengers' in movies

True

In [35]:
x = [8,3,8,5,23,67,]
8 in x

True

In [36]:
25 in x

False

In [37]:
x = [3,5,6,8]
y = [98, 23, 56]
z = y
print(x,y,z)

[3, 5, 6, 8] [98, 23, 56] [98, 23, 56]

In [38]:
print(x is y)
print(x is z)
print(z is y)

False
False
True

In [39]:
print(z is x)

False

In [40]:
print(z is y)

True