In [27]:
name = input('Enter your name')

In [28]:
college = input( 'Enter your college name' )
city = input( 'Enter your city' )

In [29]:
print(name, college, city)

  c

In [4]:
price = 90
qty = 1
print('this is an apple', 'it costs', price, 'rupees')

this is an apple it costs 90 rupees

In [31]:
print('this is an 🍎.', qty, 'kg costs', 'rupees')

this is an 🍎. 1 kg costs rupees

In [32]:
f"this is an apple. {qty} kg costs {price} rupees "

'this is an apple. 1 kg costs 90 rupees '

In [33]:
x = 10
y = 3
z =x/y
print(f'the answer is {z:.2f}')
print(f'{x} / {y}= {z:.3f}')

the answer is 3.33
10 / 3= 3.333

In [34]:
n1, n2, n3 = 'Raj', 'Rajan', 'rajeshwari'
print(n1, len(n1), 'chars')
print(n2, len(n2), 'chars')
print(n3, len(n3), 'chars')

Raj 3 chars
Rajan 5 chars
rajeshwari 10 chars

In [35]:
print(f'{n1:15} {len(n2)} chars')
print(f'{n2:15} {len(n2)} chars')
print(f'{n3:15} {len(n3)} chars')

Raj             5 chars
Rajan           5 chars
rajeshwari      10 chars

In [36]:
print(f'{n1:>15} {len(n2)} chars')
print(f'{n2:>15} {len(n2)} chars')
print(f'{n3:>15} {len(n3)} chars')

            Raj 5 chars
          Rajan 5 chars
     rajeshwari 10 chars

In [37]:
print(f'{n1:^15} {len(n2)} chars')
print(f'{n2:^15} {len(n2)} chars')
print(f'{n3:^15} {len(n3)} chars')

      Raj       5 chars
     Rajan      5 chars
  rajeshwari    10 chars

In [38]:
print(f'{n1:9} {len(n2)} chars')
print(f'{n2:9} {len(n2)} chars')
print(f'{n3:9} {len(n3)} chars')

Raj       5 chars
Rajan     5 chars
rajeshwari 10 chars

In [39]:
x = 10 # int
float(x)

10.0

In [40]:
x = '10.5' # str
float(x)

10.5

In [41]:
data = '1000101'
print(int(data))
data = "1111"
print(int(data, 2))

1000101
15

In [43]:
data = 120310
str(data)

'120310'

In [50]:
a= input('Enter A:')
b = input('Enter B:')
a + b

'45669878'

In [52]:
a = int(input('Enter A:'))
b = int(input('Enter B:'))
a + b

110

# wap to find out the Simple Intrest, by taking user input for principal, rate and time

In [59]:
principal = 500
rate = 10
Time = 2
print('simple intrest', (principal*rate*Time)/100)

simple intrest 100.0

In [6]:
principal = int(input('Enter Principal'))
rate = float(input('Enter time'))
time = int(input('Enter time'))
si = principal * rate * time / 100
print(f'principal = {principal}')
print(f'rate = {rate}%')
print(f'years = {time}')
print(f'Simple Intrest = {si:.2f}')

principal = 500
rate = 10.0%
years = 10
Simple Intrest = 500.00