In [4]:
colors = ['red','blue','green','black']
print(colors)

['red', 'blue', 'green', 'black']

In [7]:
for item in colors:
    print(item)

red
blue
green
black

In [8]:
n = [1,2,3,4,5,6,7,8,9]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
for i in n:
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
for i in n:
    print(i+10)

11
12
13
14
15
16
17
18
19

In [18]:
for i in n:
    print(i*i)

1
4
9
16
25
36
49
64
81

In [19]:
for i in n:
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [20]:
for i in n:
    print(i, end=',')

1,2,3,4,5,6,7,8,9,

In [23]:
n =('hello')
print(n)

hello

In [29]:
for x in range(10):
    print("hello",x)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [30]:
for i in range(16, 23):
    print(i)

16
17
18
19
20
21
22

In [31]:
for i in range(5, 106, 10):
    print(i)

5
15
25
35
45
55
65
75
85
95
105

In [33]:
for i in range(100, 0, -10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [35]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [37]:
for i in range(56, 561, 56):
    print(i)

56
112
168
224
280
336
392
448
504
560

In [38]:
for i in range(1,11):
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [40]:
for i in range(1,11):
    print(f'56 * {i} = {56*i}')

56 * 1 = 56
56 * 2 = 112
56 * 3 = 168
56 * 4 = 224
56 * 5 = 280
56 * 6 = 336
56 * 7 = 392
56 * 8 = 448
56 * 9 = 504
56 * 10 = 560