# data structures in python
every data structure is heterogenous (mixed data)

- list
    - indexed, ordered, **mutable**, allow duplicate members, '[ ]'

- tuple
    - indexed, ordered, **immutable**, allow duplicate members, '(  )'

- set
    - unindexed, **unordered**, mutable, **unique values only**, '{ }'

- dict
    - **ordered**, mutable, **unique keys only**, **allow duplicate values**, '{key : values}'

# list

- creating
- indexing and slicing
- methods
- traversal

In [1]:
x = [] # empty list
a = [1,2,3,4,5] # list of integers
names = ['Alex', 'Arti', 'Anupam'] # list of strings
mixed = [1, 'Alex', 2, 'Arti'] # list of mixed data types
nested = [1, [2, 3], 4] # nested list

In [3]:
# creating a duplicate list

a = [1, 2, 3]
b = [a, a, a]
print(b)
# another way to create duplicate list withou nesting
c = a * 5
print(c)
# another one
d = [1] * 10
print(d)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0]) # first element
print(numbers[-1]) # last elements
print(numbers[:5]) # first five elements
print(numbers[-5:]) # last five elements
print(numbers[1::]) # odd indexed elements
print(numbers[::2]) # even indexed elements
print(numbers[::-1]) # reverse the list

1
10
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
print(numbers[-4:-11:-1])
# another one
print(numbers[:7][::-1])

[7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

# Mehods in list - 11

- adding elements
    - append
    - extend
    - clear

- removing elements
    - pop
    - remove
    - clear

- utility method
    - index
    - count
    - sort
    - reverse
    - copy

In [5]:
x = ['apple']
x.append('apple')
print(x)

['apple', 'apple']

In [6]:
x.append('apple')
print(x)

['apple', 'apple', 'apple']

In [7]:
x.append('banana')
print(x)

['apple', 'apple', 'apple', 'banana']

In [8]:
x.append(23)
print(x)

['apple', 'apple', 'apple', 'banana', 23]

In [10]:
books = []
for i in range(5):
    books.append(input('Enter a book'))
print(books)

['', '', '', '', '']

In [30]:
More_books = ['Harry Potter', 'Lord of the rings', 'The Hobbit']
books

['Avengers', 'Iron man', 'Hulk', 'Thor', 'Captain America']

In [31]:
books.extend(More_books)
books

['Avengers',
 'Iron man',
 'Hulk',
 'Thor',
 'Captain America',
 'Harry Potter',
 'Lord of the rings',
 'The Hobbit']

In [33]:
books[-3] = ("Harry Potter and the sorcerer' s stone") # insert
books

['Avengers',
 'Iron man',
 'Hulk',
 'Thor',
 'Captain America',
 'Harry Potter',
 'Lord of the rings',
 'The Hobbit',
 "Harry Potter and the sorcerer' s stone",
 'Lord of the rings',
 'The Hobbit']

In [34]:
books.insert(-2, "Harry Potter and the chamber of secrets")
books

['Avengers',
 'Iron man',
 'Hulk',
 'Thor',
 'Captain America',
 'Harry Potter',
 'Lord of the rings',
 'The Hobbit',
 "Harry Potter and the sorcerer' s stone",
 'Harry Potter and the chamber of secrets',
 'Lord of the rings',
 'The Hobbit']

In [9]:
if 'Avengers' in books:
    books.remove('Avengers')

NameError: name 'books' is not defined

In [40]:
books.pop() # remove last element

'The Hobbit'

In [42]:
books.pop(3) # remove element at index 3

'Harry Potter'

In [1]:
x = [123,45,676,34,56,33,45]
print(x.index(123))
print(x.index(45))
print(x.index(45, 2))

0
1
6

In [2]:
print(x.count(676))
print(x.count(56))

1
1

In [4]:
x.reverse()
print(x)

[45, 33, 56, 34, 676, 45, 123]

In [5]:
# ascending order
x.sort()
print(x)
# descending order
x.sort(reverse=True)
print(x)

[33, 34, 45, 45, 56, 123, 676]
[676, 123, 56, 45, 45, 34, 33]

In [6]:
x = [1,2,3,4]
x1 = x.copy()
print(x1)
print(x)
x.append(5)
x.remove(3)
print(x)
print(x1)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 4, 5]
[1, 2, 3, 4]