In [1]:
x = (1,2,3)
print(x, type(x))
y = 1,2,3,4
print(y, type(y))

(1, 2, 3) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>

In [2]:
a = 10
b = 20
x = a, b
print(x, type(x))

(10, 20) <class 'tuple'>

In [3]:
a = (1,2,3,4,5,6)
print(a[0])
print(a[-1])
print(a[2:5])

1
6
(3, 4, 5)

In [4]:
# tuple method

a = (11,12,12,14,15,13,13,13,13,13)
print(a.count(13))
print(a.index(15))

5
4

# List - Tuple - Set Conversion

In [5]:
xlist = [1,2,3,4,5,5]
xtup = tuple(xlist) # list to tuple
print(xlist, xtup)
xlist2 = list(xtup) # tuple to list
xset = set(xtup) # tuple to set
xset2 = set(xlist) # list to set
print(xlist2, xset, xset2)
xlist3 = list(xset) # set to list
xtup2 = tuple(xset) # set to tuple
print(xlist3, xtup2)

[1, 2, 3, 4, 5, 5] (1, 2, 3, 4, 5, 5)
[1, 2, 3, 4, 5, 5] {1, 2, 3, 4, 5} {1, 2, 3, 4, 5}
[1, 2, 3, 4, 5] (1, 2, 3, 4, 5)

# All these to string

In [6]:
print(tuple('hello'))
print(list('hello'))
print(set('hello'))

('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
{'o', 'h', 'e', 'l'}

# Set

In [8]:
x = {1,2,3,4,5}
print(x, type(x))
x = {} # empty dict not set (imp)
print(x, type(x))
x = set() # empty set
print(x, type(x))

{1, 2, 3, 4, 5} <class 'set'>
{} <class 'dict'>
set() <class 'set'>

In [11]:
x.add(10)
x.add(20)
x.add(10)
print(x)
x.add('apple')
x.add('banana')
print(x)

{10, 20, 'apple', 'banana'}
{10, 20, 'apple', 'banana'}

In [12]:
x.discard(10)
print(x)

{20, 'apple', 'banana'}

In [13]:
x.update([1,2,6,3])
print(x)

{1, 2, 3, 'banana', 6, 'apple', 20}

In [14]:
# set operations
x = {1,2,3,4,5}
y = {4,5,6,7,8}
xy =x.union(y) # x / y
print(xy)
x_y =x.difference(y) # x - y
print(x_y)
y_x =x.difference(y) # y - x
print(y_x)
xiy = x.intersection(y) # x & y
print(xiy)
xuy = x.symmetric_difference(y) # x ^ y (opp. of intersection)
print(xuy)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# wap to create a set of items given by user and then display those items that contain the letter 'a' in them

In [17]:
data = set()
for i in range(10):
    data.add(input('enter the item:'))
for i in data:
    if 'a' in i:
        print(i)

mango
banana
hazelnut
elaichi
watermelon
guava

In [26]:
x = (('bobby'), [3,6,9,], (1,2,3))
print(x[0][4])
print(x[1][0])
print(x[2][1])

y
3
2

ValueError: tuple.index(x): x not in tuple

In [22]:
print((1,4,6) + (2,7,8))

(1, 4, 6, 2, 7, 8)

In [24]:
print('sab fuddu ' * 3)

sab fuddu sab fuddu sab fuddu

In [29]:
x = ('sab fuddu')
print(x.index('d'))

6

In [1]:
x = {'oyo', 3.5, (3,4,5)}
print(x)

{3.5, (3, 4, 5), 'oyo'}

In [6]:
x = set([3,4,5])
print(x)

{3, 4, 5}

In [7]:
x = list({3,4,5})
print(x)

[3, 4, 5]

In [8]:
b = set()
print(type(b))

<class 'set'>

In [19]:
x = ({3,4,5})
print(x)

{3, 4, 5}

In [20]:
x.add(4.8)
print(x)

{4.8, 3, 4, 5}

In [22]:
x.update([2,3,4])
print(x)

{2, 3, 4.8, 4, 5}

In [23]:
x.update([2,3,8], (7,9))
print(x)

{2, 3, 4.8, 4, 5, 7, 8, 9}

In [24]:
x = {3,4,5,6,7,8,9}
print(x)

{3, 4, 5, 6, 7, 8, 9}

In [26]:
x.discard(4)
print(x)

{3, 5, 6, 7, 8, 9}

In [27]:
x.remove(7)
print(x)

{3, 5, 6, 8, 9}

In [32]:
x.pop()
print(x)

{8, 9}

In [34]:
x.add(3)
print(x)

{3, 8, 9}

In [35]:
x.clear()
print(x)

set()

In [36]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [37]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
print(A & B)

{4, 5}

In [41]:
A.intersection(B)

{4, 5}

In [42]:
B.intersection(A)

{4, 5}

In [43]:
A - B

{1, 2, 3}

In [46]:
B - A

{6, 7, 8}

In [48]:
A.difference(B)

{1, 2, 3}

In [49]:
B.difference(A)

{6, 7, 8}

In [50]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [51]:
B ^ A

{1, 2, 3, 6, 7, 8}

In [52]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [53]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [54]:
x = {'name' : 'Meer', 'Age' : 21}
print(x)

{'name': 'Meer', 'Age': 21}

In [64]:
print(x['Age'])
print(x.get('Age'))

23
23

In [63]:
x['Adress'] = 'Bombay'
x['Age'] = 23
print(x)

{'name': 'Meer', 'Age': 23, 'Adress': 'Bombay'}

In [69]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares.pop(4))
print(squares.popitem())
print(squares.clear())
del squares

16
(5, 25)
None

In [70]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
for i in squares:
    print(i)

1
2
3
4
5

In [72]:
for i in squares:
    print(squares[i])

1
4
9
16
25

In [73]:
for a,b in squares.items():
    print(a,b)

1 1
2 4
3 9
4 16
5 25